:root {
    --dblue: #38435E;
    --blue: #84A0DF;
    --bblue:#CAD2E3;
    --blue2:#657AAB;
    --grey:#54575E;
    --greenlight:rgb(0, 255, 0);
    --lowgreen:rgb(198, 255, 198);
  }
*{
    border:none;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
img{
    border-radius: 5px;
}
body{
    background-color: var(--bblue);
}
input{
border-radius: 5px;
}
input:focus{
    outline:none;
border-radius: 5px;
}
input[type=file]{
    display:none;
}
button{
  border-radius: 5px;  
}
button:hover{
  border-radius: 5px;
  cursor: pointer;
}
.topmenu{
    background-color: var(--blue);
    z-index: 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top:0;
}
.shopmenu{
    justify-content: left !important;
    padding:0 !important;
    margin:0 !important;
    width: 50px !important;
}
.shopmenu:hover{
    background-color: var(--blue) !important;
}
.topmenu ol{
    background-color: var(--blue);
    width: 100%;
    display: flex;
    justify-content: center;
}
.topmenu li{
    padding:8px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: .3s;
    width: calc(100%/4);
    display: flex;
    justify-content: center;
}
.topmenu li:hover{
    transition: .1s;
    cursor:pointer;
    filter: drop-shadow(2px 2px 2px var(--dblue));
}
.topmenu img{
    width: 50px;
    height: auto;
}
.topmenuselected{
    transition: .3s;
    background-color:var(--dblue);
}
.reg-div{
    position:fixed;
    display:none;
    z-index: 1;
}
.signupyes{
    background-color: var(--lowgreen);
    border-radius: 5px;
    text-align: center;
    width: 100%;
}
.reg-container{
    position:fixed;
    margin:0 auto;
    left:0;right:0;
    margin-top:50px;
    border-radius:5px;
    width: 50%;
    max-width: 600px;
    border:2px solid var(--blue);
    background-color: var(--bblue);
    min-width: 200px !important;
    z-index: 1;
    box-shadow: 5px 5px 50px black;
}
.reg-container ol{
    margin:15px;
    
}
.reg-container li{
    display:flex;
    margin-bottom:15px;
}
.reg-container li:nth-child(odd){
    display:flex;
    margin-bottom:5px;
}
.reg-container li:nth-child(9){
    display:flex;
    margin-bottom:15px;
    justify-content: center;
}
.reg-container p{
    font-weight: bold;
    color:var(--dblue);
}
.alert-reg-uname{
    color:crimson !important;
    font-weight: lighter !important;
    display:none;
}
.alert-reg-mail{
    color:crimson !important;
    font-weight: lighter !important;
    display:none;
}
.reg-container input{
    width: 100%;
    outline:none;
    text-align: center;
    padding:10px;
}
.reg-container button{
    background-color: var(--blue2);
    padding:20px;
    transition: .3s;
}
.reg-container button:hover{
    transition: .3s;
    cursor:pointer;
    background-color: var(--blue);
    padding:20px;
}
.login-div{
    display:none;
    z-index: 1;
    margin:0 auto;
    left:0;right:0;
    position: fixed;
}
.login-container{
    position:fixed;
    margin:0 auto;
    left:0;right:0;
    margin-top:50px;
    border-radius:5px;
    width: 50%;
    max-width: 450px;
    border:2px solid var(--blue);
    background-color: var(--bblue);
    z-index: 1;
    min-width: 200px !important;
    box-shadow: 5px 5px 50px black;

}
.login-container ol{
    margin:15px;
}
.login-container li{
    display:flex;
    margin-bottom:15px;
}
.login-container li:nth-child(odd){
    display:flex;
    margin-bottom:5px;
}
.login-container li:nth-child(5){
    justify-content: space-evenly;
}
.login-container input{
    border:2px solid var(--bblue);
    width: 100%;
    outline:none;
    text-align: center;
    padding:10px;
}
.login-container input:hover,.login-container input:focus{
    border:2px solid var(--dblue);
}
.login-container button{
    background-color: var(--blue2);
    padding:20px;
    transition: .3s;
    justify-content: space-evenly;
}
.login-container button:hover{
    transition: .3s;
    cursor:pointer;
    background-color: var(--blue);
    padding:20px;
}
.login-container p{
    font-weight: bold;
    color:var(--dblue);
}
@keyframes red-blink-btn {
    from {  }
    to {background:crimson;}
  }
.login-btn-wrongform{
    animation-name: red-blink-btn;
    animation-duration: .75s;
    animation-iteration-count: 5.75;
    animation-direction:alternate;
    animation-timing-function:ease-in-out;
}
@keyframes green-blink-btn {
        5%{background:linear-gradient(to right, var(--greenlight) 0%, var(--blue) 10%);}
        10%{background:linear-gradient(to right, var(--greenlight) 5%, var(--blue) 15%);}
        20%{background:linear-gradient(to right, var(--greenlight) 10%, var(--blue) 20%);}
        25%{background:linear-gradient(to right, var(--greenlight) 15%, var(--blue) 25%);}
        30%{background:linear-gradient(to right, var(--greenlight) 20%, var(--blue) 30%);}
        35%{background:linear-gradient(to right, var(--greenlight) 25%, var(--blue) 35%);}
        40%{background:linear-gradient(to right, var(--greenlight) 30%, var(--blue) 40%);}
        45%{background:linear-gradient(to right, var(--greenlight) 35%, var(--blue) 45%);}
        50%{background:linear-gradient(to right, var(--greenlight) 40%, var(--blue) 50%);}
        55%{background:linear-gradient(to right, var(--greenlight) 45%, var(--blue) 55%);}
        60%{background:linear-gradient(to right, var(--greenlight) 50%, var(--blue) 60%);}
        65%{background:linear-gradient(to right, var(--greenlight) 55%, var(--blue) 65%);}
        75%{background:linear-gradient(to right, var(--greenlight) 65%, var(--blue) 75%);}
        70%{background:linear-gradient(to right, var(--greenlight) 60%, var(--blue) 70%);}
        80%{background:linear-gradient(to right, var(--greenlight) 70%, var(--blue) 80%);}
        85%{background:linear-gradient(to right, var(--greenlight) 75%, var(--blue) 85%);}
        90%{background:linear-gradient(to right, var(--greenlight) 80%, var(--blue) 90%);}
        100%{background-color:var(--greenlight);}
        }
.login-btn-correct{
    animation-name: green-blink-btn;
    animation-duration: .5s;
}
.user-div{
    display:none;
}
.user-container{
    position: fixed;
    border-radius:5px;
    width: 80%;
    border:2px solid var(--blue);
    background-color: var(--bblue);
    min-width: 200px !important;
    z-index: 1;
    margin:0 auto;
    left: 0;
    right: 0;
}
.user-container ol{
    margin:15px;
}
.user-container li{
    display:flex;
    margin-bottom:15px;
    justify-content: center;
}
.user-container li:nth-child(1){
    justify-content: center;
}
.avatar-menu{
    display: flex;
    justify-content: space-evenly;
}
.avatar-menu form{
    text-align: center;
    display: contents;
}
.avatar-menu input{
    text-align: center;
}
.avatar-menu-open{
    justify-content: center;
    padding:10px;
    border-radius: 5px;
    background-color: var(--blue2);
}
.avatar-menu-open:hover{
    cursor: pointer;
    background-color: var(--blue);
    
}
.avatar-add-btn{
padding:5px;
background-color: var(--blue2);
border-radius:5px;
}
.avatar-add-btn:hover{
cursor: pointer;
background-color: var(--blue);
}
.upload{
padding:5px;
background-color: var(--blue2);
border-radius:5px;
}
.upload:hover{
cursor: pointer;
background-color: var(--blue);
}
.logout{
    padding:10px;
    background-color: var(--blue2);
    border-radius: 5px;
    border:2px solid crimson;
}
.logout:hover{
    cursor:pointer ;
    background-color: var(--blue);
}
@keyframes logout-blink {
    from {  }
    to {background:crimson;}
  }
.logout-btn-blink{
    animation-name: logout-blink ;
    animation-duration: 1s ;
    animation-iteration-count: 1 ;
    animation-direction:alternate ;
    animation-timing-function:ease-in-out ;
}

.shop-div{
    display:flex;
    margin-top:180px;
    justify-content: center;
}
.shop-container{
    width: 100%;
}
.shop-container table{
    text-align: center;
    margin:0 auto;
    width: 80%;
    height: 100%;
    border-spacing: 0 10px;
}
.shop-container tbody{
    left:0;
    right: 0;
    margin:0 auto;
}
.shop-container tr{
    background-color: var(--bblue);
}
.shop-container tr:hover{
    background-color:var(--blue);
    cursor: pointer;
}
.shop-container td{
    width: calc(100%/6);
    border-bottom:1px solid var(--blue);
}
.shop-container img{
    width: auto;
    height: 50px;
    vertical-align: middle;
}
.nav{
    display: flex;
    justify-content: center;
    margin-top:10px;
}
.shop-container a{
    display: inline;
    padding:8px;
    border-radius: 5px;
    margin:10px;
    cursor: pointer;
    background-color: var(--blue2);
}
.shop-container a:hover{
    background-color: var(--blue);
}
.itemselected{
    transition: .3s;
    background-color: var(--dblue);
}
.itempage{
    display: none;
}
.itempage-container{
    position: fixed;
    border-radius:5px;
    width: 80%;
    border:2px solid var(--blue);
    background-color: var(--bblue);
    min-width: 200px !important;
    z-index: 1;
    margin:0 auto;
    left: 0;
    right: 0;
    top:100px;
}
.itempage img{
    max-height: 100px;
    height: auto;
    width: auto;
    max-width: 160px;
    vertical-align: middle;
}
.itempage-container ol{
    margin: 15px;
}
.itempage-container li:nth-child(1){
    justify-content: center;
}
.itempage-container li{
    display: flex;
    padding:10px;
    border-bottom:1px solid var(--blue);
}
.itempage-container p {
    display: inline;
}
.itempage-container li:nth-child(2){
}
.stock-green div{
    background-color:var(--greenlight);
    padding:10px;
    width: 10px;
    font-weight: bold;
    border-radius:none;
    margin:0 auto;
    border-radius: 100%;
    border:2px solid var(--dblue);
    
}
.stock-yellow div{
    background-color:rgb(255, 255, 0);
    padding:10px;
    width: 10px;
    font-weight: bold;
    border-radius:none;
    margin:0 auto;
    border-radius: 100%;
    border:2px solid var(--dblue);
    
}
.stock-red div{
    background-color:rgb(255, 0, 51);
    padding:10px;
    width: 10px;
    font-weight: bold;
    border-radius:none;
    margin:0 auto;
    border-radius: 100%;
    border:2px solid var(--dblue);
    
}
.cart-div{
    display:none;
    margin-top:80px;
}
.cart-container{
    display: flex;
    justify-content: space-between;
}
.cart-container img{
    max-width: 80px;
    max-height: 80px;
    border-radius: 5px;
    }
.cart-container table{
    text-align: center;
    border-spacing: 0 10px;
    margin-left: 10px;
    width: 60%;
}
.cart-container tbody{
}
.cart-container tr{
    background-color: var(--bblue);
}
.cart-container tr:hover{
    background-color:var(--blue);
}
.cart-container td:nth-child(1){
    text-align: left;
}
.cart-container td{
    padding:5px;
    border-bottom:1px solid var(--blue);
    width: calc(100%/6);
}
.cart-container div{
    background-color: whitesmoke;
    border-radius: 5px;
    display: inline;
    margin-right: 10px;
    width: 30%;
}
.cart-container ol{
    margin:10px;
    height: 100%;
}
.cart-container li{
    display:block;
}
.quantity-inp{
    padding:10px;
    width: 40px;
    text-align: center;
    background-color: var(--blue2);
}
.quantity-inp:focus{
    outline: none;
    background-color: whitesmoke;
}
.putout{
    background-color: var(--blue2);
    padding: 5px;
}
.putout:hover{
    background-color:crimson;
}
.addto-cart{
    padding:10px;
    background-color: var(--blue2);
}
.addto-cart:hover{
    padding:10px;
    background-color: var(--blue);
    cursor: pointer;
}

/*ADMIN */
.admin-div{
    height:0px;
    transition:1s;
    position: fixed;
    bottom:0;
    background-color: var(--dblue);
    width: 100%;
}
.admin-container{
display:flex;
}
.additem-div{
width: 50%;
}
.admin-container ol{
    margin:10px;
    display: block;
}
.admin-container li{
    display: flex;
    padding:5px;
    justify-content: left;
}
.admin-container button{
    padding:10px;
    background-color: var(--blue2);
}
.admin-container button:hover{
    background-color: var(--blue);
}
.admin-container select{
    text-align: center;
    outline:none;
    border-radius: 5px;
}
.admin-container label{
    margin: 10px;
}
.admin-div-open{
    transition:1s;
    height:230px;
}
.openadmin-btn{
    border-radius: 5px;
    padding:5px;
}
.openadmin-btn img{
    background-color: var(--blue2);
    padding:10px;
    max-width: 60px;
}
.openadmin-btn img:hover{
    background-color: var(--blue);
    cursor: pointer;
}
.closeadmin-btn{
    position: fixed;
    right:0;
    margin:2px;
}
.closeadmin-btn img{
    max-width: 60px;
    background-color: var(--blue2);
}
.closeadmin-btn img:hover{
    cursor: pointer;
    background-color: var(--blue);
}
.iteminfo{
    position: fixed;
    bottom:0;
    right: 0;
    margin:30px;
    margin-right: 50px;
    z-index: 1;
}
.iteminfo div{
    text-align: center;
    max-width: 150px;
    min-width: 150px;
}
.itemexists{
    transition: .5s;
    background-color: var(--blue);
    border-radius: 5px;
    box-shadow: 6px 6px 0px var(--dblue);
    margin-bottom:10px;
    padding:20px;
}
.itemadded{
    transition: .5s;
    background-color: var(--blue);
    border-radius: 5px;
    box-shadow: 6px 6px 0px var(--dblue);
    margin-bottom:10px;
    padding:20px;
}
.iteminfo-toright{
    transform:translate(300px);
    transition: 1s;
}
.iteminfo-blink-red{
    transition: .5s;
    box-shadow:3px 3px 20px 5px  crimson;
}
.backcurtain{
    background-color: black;
    opacity: .4;
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    margin:0;
    display:none;
    transition:1.3s;
}

/*temp*/
.temp{
    display:none;
    position: absolute;
    padding:200px;
    background-color: #657AAB;
    bottom:0;
    left:0;
    color:crimson;
}
.temp button{
    padding:40px;
    background-color: crimson;
}
