:root {
    --dblue: #38435E;
    --blue: #84A0DF;
    --bblue:#CAD2E3;
    --blue2:#657AAB;
    --grey:#54575E;
    --greenlight:rgb(0, 255, 0);
    --lowgreen:rgb(198, 255, 198);
  }
*{
    padding:0;
    margin:0;
}
.mainbox
{
height: 100vh;
width: 100%;
position: fixed;
display: flex;
justify-content: center;
align-items: center;
}
.container
{
position: fixed;
display: flex;
justify-content: center;


}
.container div
{
  background-color: var(--bblue);
  padding:20px;
  display:none;
  transition: .5s !important;
  margin:6px;
  border:1px solid black;
}
.shown{
  background-color: var(--blue) !important;
  transform:scale(1.2) !important;
  transition: 0.5s !important;
  display:block !important;
}
.prev
{
transition: 0.5s;
display:block !important;
opacity: 0.5;
}
.next
{
  transition: 0.5s;
display:block !important;
opacity: 0.5;
}
a
{
  position: relative;
  margin:20px;
  margin-top: 120px;
  padding:5px;
  background-color: var(--dblue);
}
button
{
  padding:10px;
  background-color: var(--blue);
  margin-top:155px;
}
button:hover
{
  background-color: var(--bblue);
  cursor: pointer;
}