:root {
--dblue: #38435E;
--blue: #84A0DF;
--bblue:#CAD2E3;
--blue2:#657AAB;
--grey:#54575E;
--greenlight:rgb(0, 255, 0);
--lowgreen:rgb(198, 255, 198);
}
*{
user-select: none;
padding:0;
margin:0;
}
body{
}
.mainbox
{
background-repeat: no-repeat !important;
background-size:cover !important;
background-position:center !important;
z-index: -2;
opacity: 0.6;
height: 100%;
width: 100%;
position: fixed;
align-items: center;
display: flex;
}
.showbox
{
height: 100%;
width: 100%;
position: fixed;
display: flex;
justify-content: center;
align-items: center;
}
.wrapper
{
height: 100%;
width: 100%;
position: fixed;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.wrapper img
{
width: 100%;
height: auto;
}
.container
{
top:10px;
width: 100%;
position: fixed;
z-index: 1;
display: flex;
justify-content: space-evenly;
}
.container div
{
background-color: transparent !important;
transition: .5s !important;
display: block !important;
display: flex;
justify-content: center;
}
.container img
{
width: 100px;
height: 200px;
border:2px solid crimson;
box-shadow: 0px 0px 8px 4px crimson;
object-fit: cover;
}
.container h3
{
display:none;
position: fixed;
margin:0 auto;
left:0;
right:0;
text-align: center;
}
.container img:hover
{
transition: 0.3s !important;
cursor: pointer;
opacity: 1;
animation: shaker 0.4s;
}
.shown{
background-color: var(--blue) !important;
transition: 0.3s !important;
display:flex !important;
z-index: 1;transform:scale(1.1);
}
@font-face {
font-family: handwrite;
src: url(IslandMoments-Regular.ttf);
}
.shown h3
{
font-family:handwrite;
font-size:50px;
}
@keyframes shaker {
0%{transform:rotate(0)}
20%{transform:rotate(-2deg)}
40%{transform:rotate(2deg)}
60%{transform:rotate(-2deg)}
80%{transform:rotate(2deg)}
100%{transform:rotate(0)}
}