:root 
{
--dblue: #38435E;
--blue: #84A0DF;
--bblue:#ccdcff;
--blue2:#657AAB;
--grey:#54575E;
--greenlight:rgb(0, 255, 0);
--lowgreen:rgb(198, 255, 198);
}
/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--bblue);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--blue);
  }
*
{
font-family:Arial, Helvetica, sans-serif;
padding:0;
margin:0;
}
body
{
background-color: var(--bblue);
}
button
{
border: 1px solid black;
}
button:focus{
    outline:none;
}
input{
border: 1px solid black;
outline: none;
border-radius: 5px;
background-color: var(--bblue);
text-align: center;
padding:4px;
}
input:focus{
background-color:whitesmoke;
outline:none;
}
label
{
    padding:4px;
    align-items: center !important;
}
.screen
{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.return
{
padding:5px;
border-radius: 5px;   
top:0;
transition:0.5s;
z-index: 1;
margin:0 auto;
position: fixed;
margin:10px;
right: 0;
}
.return img{
height: 40px;
width: auto;
margin:5px;
}
.return:active
{
transition:0.3s;
box-shadow:0 0 0 0 var(--dblue);
background-color: var(--bblue);
}
.return:hover{
    cursor: pointer;
transition:0.3s;
box-shadow:0px 6px 8px 2px var(--grey);
background-color: var(--blue);
}
.sidebar
{
position:fixed;
top:0;
left:0;
z-index: 1;
}
.friends-btn-div img
{
width: 30px;
height: auto;
}
.friends-btn-div
{
height: 80px;
}
.friends-btn-on
{
transition:0.3s;
position: absolute;
height: 80px;
width: 80px;
background-color: var(--dblue);
color: var(--bblue);
border-bottom-right-radius:80px;
}
.friends-btn-on:hover{
    cursor: pointer;
transition:0.3s;
color:var(--dblue);
box-shadow:0px 6px 8px 2px var(--grey);
background-color: var(--blue);
}
.friends-btn-off
{
transition:0.3s;
position: absolute;
height: 80px;
width: 80px;
background-color: var(--dblue);
color: var(--bblue);
border-bottom-right-radius:80px;
}
.friends-btn-off:hover{
    cursor: pointer;
transition:0.3s;
color:var(--dblue);
box-shadow:0px 6px 8px 2px var(--grey);
background-color: var(--blue);
}
.friendsanime
{
border-bottom-right-radius: 0px;
transition:.1s;
}
.friends
{
width: 200px;
color:white;
background-color: var(--dblue);
left:-200px;
position: fixed;
top:80px;
transition: 0.4s;
}
.friends-list-open
{
color:white;
background-color: var(--dblue);
left:0;
position: fixed;
top:80px;
transition: 0.4s;
}
.friendon
{
color: var(--greenlight);
}
.friendoff
{
color: crimson;
}
.friends ol
{
padding:0;
background-color: var(--blue2);
display: block;
margin:10px;
}
@keyframes friendblinker {
    from { background:var(--blue2)}
    to {background:var(--bblue)}
}
.friendsblinker
{
    animation-name:friendblinker;
    animation-duration: .8s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.friends li
{
padding:10px;
border-bottom:1px solid var(--dblue);
display: flex;
justify-content: start;
align-items: center;
}
.friends li:hover
{
cursor: pointer;
background-color: var(--blue);
}

.stock-green{
    background-color:var(--greenlight);
    padding:10px;
    font-weight: bold;
    border-radius: 50%;
    border:2px solid var(--dblue);
}
.stock-yellow{
    background-color:rgb(255, 255, 0);
    padding:10px;
    font-weight: bold;
    border-radius: 50%;
    border:2px solid var(--dblue);
}
.stock-red{
    background-color:rgb(255, 0, 51);
    padding:10px;
    font-weight: bold;
    border-radius: 50%;
    border:2px solid var(--dblue);
}
.chat-btn
{
width:20px;
height:auto;
}
.chat-box-div
{
display:none;
z-index: 1;
justify-content: center;
bottom:0;
left: 5%;
position:absolute;
}
.chat-box-container
{
    margin-right:10px;
position: relative;
border-radius: 5px;
border:2px solid black;
width: 300px;
background-color: var(--dblue);
display:block;
}
.chatheader
{
    margin:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.mini
{
    background-color: var(--blue);
    border-radius: 5.6px;
}
.mini:hover
{
    background-color: var(--bblue);
}
.close
{
    background-color: var(--blue);
    border-radius: 50%;
}
.close:hover
{
    background-color: var(--bblue);
}
.chatheader li
{
    display: flex;
    align-items: center;
}
.chat-box-container img{
    height: 30px !important;
    width: auto !important;
}
.chat-msg-box
{
font-size: 14px;
overflow-y: scroll;
border-radius: 5px;
height: 350px;
background-color: white;
text-align: left;
}
.chat-msg-box ol{
    margin:10px;
}
.chat-msg-box li{
    display: flex;
    border-radius: 5px;
    padding:10px;
    margin-top:4px;
   
}
.chat-msg-box p
{
word-break: break-all;
}

.sender
{   
    transform: translateX(50%);
    width: 60%;
    margin-top:5px;
    background-color:var(--bblue);
}
.receiver
{
    width: 60%;
    background-color:var(--blue);
}
.receiver a
{
    margin-right: 4px;
    font-weight: bold;
}
.chat-date
{
    font-size:10px;
    margin-left: 4px;
    color:var(--dblue);
}
.chat-data-box
{
    display:flex;
    justify-content: space-between;
    margin-top:6px;
}
.chat-data-box button
{
border-radius: 5px;
padding:2px;
background-color: var(--blue2);
}
.chat-data-box button:hover
{
    cursor: pointer;
border-radius: 5px;
background-color: var(--blue);
}

.mainmenu{
right:0;
left:0;
margin:0 auto;
display: flex;
justify-content: center;
}
.mainmenu img{
height: 150px;
width: auto;
}
@keyframes shaker {
    0%{transform:rotate(0)}
    20%{transform:rotate(-2deg)}
    40%{transform:rotate(2deg)}
    60%{transform:rotate(-2deg)}
    80%{transform:rotate(2deg)}
    100%{transform:rotate(0)}
}
.mainmenu li{
cursor: pointer;
border-radius: 5px;
font-size: 16px;
padding:4px;
background-color:var(--dblue);
color: var(--bblue);
margin:10px;
border: 2px solid var(--dblue);
text-align: center;
display: block;    
box-shadow:0px 2px 6px 2px var(--grey);
}
.mainmenu li:hover{
animation:shaker 0.6s;
color: var(--dblue);
cursor: pointer;
background-color: var(--blue);
box-shadow: 0 0 white, inset 400px 0 white;
transition: ease-in .5s;
}
.form-signup
{
position: fixed;
right: 0;
left:0;
margin:0 auto;
display: flex;
justify-content: center;
}
.form-signup-container
{
width: 60%;
min-width: 400px;
max-width: 600px;

}
.form-signup-container ol
{
border-radius: 5px;
background-color:var(--dblue);
padding:10px;
}
.form-signup-container li
{
font-size: 14px;
padding:10px;
color: var(--bblue);
text-align: left;
display:flex;
justify-content: space-between;   
}
.signup-submit
{
border-radius: 5px;
width:70%;
padding:10px;
background-color: var(--blue2);
}
.signup-submit:hover
{
cursor: pointer;
background-color: var(--blue);
}
.form-signup-container li:nth-child(1)
{
justify-content: center;
}
.form-signup-container li:nth-child(5)
{
justify-content: center;
}
.form-signup-container input
{
    max-width: 250px;
width: 80%;
}
.form-login
{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
max-width: 300px;
}
.form-login-container
{
width: 60%;
min-width: 300px;
}
.form-login-container ol
{
box-shadow:0px 2px 6px 2px var(--grey);
border-radius: 5px;
padding:10px;
background-color:var(--dblue);
}
.form-login-container li
{
font-size:14px;
padding:10px;
color: var(--bblue);
display:flex;
justify-content:space-between;
margin:10px;
padding:10px;
}
.form-login-container li:nth-child(1)
{
justify-content: center;
}
.form-login-container li:nth-child(4)
{
justify-content: center;
}
.login-submit
{
border-radius: 5px;
width:70%;
padding:10px;
background-color:var(--blue);
transition: linear .8s;
}
.login-submit:hover
{
color: var(--dblue);
cursor: pointer;
box-shadow: 0 0 white, inset 100vh 0 white;
transition: linear .8s;
}

.form-login-container input
{
width: 70%;
}
.success
{
    background-color: var(--lowgreen);
    border-radius: 5px;
    justify-content: center !important;
    color:var(--dblue) !important;
    box-shadow: 0 0 var(--lowgreen), inset 100vh 0 var(--lowgreen);
    transition: ease-in-out .8s;
}
.error
 {
    background-color: crimson;
    color:var(--bblue) !important;
    border-radius: 5px;
    padding:10px;
    justify-content: center !important;
    box-shadow: 0 0 crimson, inset 100vh 0 crimson;
    transition: ease-in-out .8s;
 }
.profile-div
{
position: fixed;
left:0;
right: 0;
margin:0 auto;
display:flex;
justify-content: center;
width: 80%;
}
.profile-container
{
width: 100%;
}
.profile-div table{
background-color: var(--blue2);
color: var(--bblue);
text-align:center;
width: 100%;
border-collapse: separate;
border-spacing: 0 0;
}
.profile-div th
{
background-color: var(--dblue);
}
.profile-div td{
color:white;
width: calc(100%/5);
}
.my-poket
{
position:fixed;
width: 100%;
bottom:30%;
margin-bottom:5px;
}
.my-poket-img
{
background-color: var(--blue2);
margin:1px;
}
.my-poket-img img
{
width: 10%;
height: auto;
}
.play-div
{
position: fixed;
bottom:0;
height: 30%;
margin:5px;
}
.play-div table
{
height: 100%;
border-collapse: separate;
border-spacing: 4px;
}
.play-div tbody
{
background-color: var(--blue2);
}
.play-div tr{
}
.play-div td{
text-align: center;
width: 1000px;
}
.play-div td:hover{
background-color: var(--blue);
box-shadow:0px 6px 8px 2px var(--grey);
}
.play-div td:active{
background-color: var(--blue2);
box-shadow:0px 6px 8px 2px var(--grey);
}
.timedlogout
{   
    background-color: red;
    padding:50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.closesession
{
    background-color: red;
    padding:50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backcurtain
{
display:none;
position:fixed;
top:0;
height:100%;
width:100%;
background-color:black;
opacity:0.6;
}