
.write
{
    display: flex;
    justify-content: center;
}
.sq{
    padding:50px;
    background-color: rgb(172, 172, 255);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sq1{
    padding: 20px;
    background-color: rgb(255, 164, 164);
    position: relative;
    word-break: break-all;
}
.get
{
    padding:20px;
    background-color: rgb(140, 236, 140);
    position: relative;
}
.get1
{
    padding:20px;
    background-color: rgb(216, 235, 133);
    position: relative;

}