:root {
--dblue: #38435E;
--blue: #84A0DF;
--bblue:#CAD2E3;
--blue2:#657AAB;
--grey:#54575E;
--greenlight:rgb(0, 255, 0);
--lowgreen:rgb(198, 255, 198);
}
*{
padding:0;
margin:0;
font-family: Arial, Helvetica, sans-serif;
}
.firstdiv
{
height: 100vh;

}
.first-container{
height: 100vh;
width: 100%;
}
.first-container h1
{
margin:20px;
}
.first-container div
{
display: flex;
justify-content: center;
align-items: center;
}
.files-container
{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.files-container table
{
width: 50%;
border-spacing: 0px;
border-collapse: collapse;
}
.files-container tr
{
width: 100%;
}
.files-container tr:hover
{
background-color: var(--blue);
cursor: pointer;
}
.files-container tr:nth-child(1):hover
{
background-color: var(--bblue);
cursor:default;
}
.files-container th
{
width: 50%;
text-align: left;
padding:10px;
background-color: var(--dblue);
color: var(--bblue);
border:1px solid var(--dblue);  
}
.files-container td
{

padding:10px;
border-right: 1px solid var(--blue);
border-left:1px solid var(--blue);
border-bottom:1px solid var(--blue);
width: 50%;
}
.routing
{
    padding:12px;
}
.routing a
{
    border-bottom:1px solid var(--blue);
    padding:6px;
    margin:4px;
}
.routing a:hover
{
background-color: var(--blue);
cursor: pointer;
}
.currentfolder span
{
    margin:5px;
border-bottom: 1px solid var(--blue);
}