:root {
--dblue: #38435E;
--blue: #84A0DF;
--bblue:#CAD2E3;
--blue2:#657AAB;
--grey:#54575E;
--greenlight:rgb(0, 255, 0);
--lowgreen:rgb(198, 255, 198);
}
*{
padding:0;
margin:0;
font-family: Arial, Helvetica, sans-serif;
}
.firstdiv
{
margin:10px;
}
.files-container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.files-container table
{
    width: 50%;
    border-spacing: 0;
}
.files-container tr
{
width: 100%;
}
.files-container tr:hover
{
background-color: var(--blue);
cursor: pointer;
}
.files-container tr:nth-child(1):hover
{
background-color: var(--bblue);
cursor:default;
}
.files-container th
{
    width: 50%;
    text-align: left;
    padding:10px;
    background-color: var(--dblue);
    color: var(--bblue);
}
.files-container td
{
padding:10px;
border-bottom:1px solid var(--blue);
width: 50%;
}